<%- include('partials/header') %>
<%- include('partials/nav') %>

    <div class="game-solo">
        <h2 class="welcome"><%= game.title %></h2>
        <p><%= game.description %></p>
        <p><%= game.rule %></p>
        <h4>Niveau de difficulté possible :</h4>
        <% for (let difficulty of game.gameDifficulties) { %>
            <ul>
                <li>
                    <span><%= difficulty.title %></span>
                    <p>
                        Avec ce niveau de difficulté, multiplie ton score par <%= difficulty.coefficient %> !
                    </p>
                    <a href="#"><button type="button">Jouer</button></a>
                </li>
            </ul>
        <% } %>
    </div>
    
<%- include('partials/footer') %>