<%- include('partials/header') %>
<%- include('partials/nav') %>

    <div>
        <h2 class="welcome"> Liste des jeux </h2>
    </div>
    
    <div class="row">
    <% for (let game of games) {%>
        <div class="col">
            <a href="/gameList/<%=game.id%>"><h3><%= game.title %></h3></a>
            <h5><%= game.description %></h5>
        </div>
    <% } %>
    </div>
    
<%- include('partials/footer') %>