<%- include('partials/header') %>
<%- include('partials/nav') %>

<div>
    <h3>Profil</h3>
    <p>Prénom : <%= user.firstname %></p>
    <p>Nom : <%= user.lastname %></p>
    <p>Email : <%= user.email %></p>
    <p>Role : <%= user.role %></p>
</div>
    
<%- include('partials/footer') %>