<%- include('partials/header') %>
<%- include('partials/nav') %>

    <h3 class="title-forms">Progression pour tous les jeux</h3>
    
    <% for (let result of results) { %>
        <div>Pour le jeu : <%= result.game_title %></div>
        <div>Score : <%= result.point %></div>
    <% } %>
    
<%- include('partials/footer') %>