<%- include('partials/header') %>
<%- include('partials/nav') %>

<h3>Liste des thèmes :</h3>
<div class="row">
    <% for (let theme of themes) { %>
        <div class="theme themes--<%= theme.title.toLowerCase() %>">
            <a href="/themes/<%= theme.id %>"><%= theme.title %></a>
        </div>
    <% } %>
</div>
    
<%- include('partials/footer') %>